<div class="shogun-root" data-shogun-id="671bf04a8e4cc2bff5a8e0fd" data-shogun-site-id="d107544a-edbc-44c4-97ed-eb9330e4474f" data-shogun-section-id="671bf04a8e4cc2bff5a8e0fd" data-shogun-section-version-id="671bf1c27720fed9ada9914d" data-shogun-platform-type="shopify" data-shogun-variant-id="671bf1c27720fed9ada9919c" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-10-16-0839/671bf1c27720fed9ada9914d_671bf1c27720fed9ada9919c.css"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-10-23-0716/global-assets-f8818e7aba30f19905fde485053af317a666a1e6.js" defer></script> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-10-23-0716/add_ons_asset_671bf1c27720fed9ada9914d_671bf1c27720fed9ada9919c.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-250c1053-5a83-4c1a-ad0c-a11974ed1917"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-fw"> <div class="shg-c " id="s-9a2f2c38-e4b3-45b5-ab57-cfc90f1eee8a"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-4"></div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-4"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked " id="s-95d11f5a-e5a2-4810-a9f5-fdbffb46f64c"data-shg-href=""> <div class="shg-box-overlay"></div><div class="shg-box-content"> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-95d11f5a-e5a2-4810-a9f5-fdbffb46f64c",
          "url": "",
          "new_window": false
        }
      }
    </script> </div> <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-4"></div> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "Anna's Picks - Look 1",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=671bf04a8e4cc2bff5a8e0fd&shop=shop.misha-and-puff.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Anna's Picks - Look 1",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
