<div class="shogun-root" data-shogun-id="671c0917e05872a654af8f6f" data-shogun-site-id="d107544a-edbc-44c4-97ed-eb9330e4474f" data-shogun-section-id="671c0917e05872a654af8f6f" data-shogun-section-version-id="671c09341b516cdda578b4f5" data-shogun-platform-type="shopify" data-shogun-variant-id="671c09341b516cdda578b527" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-10-16-0839/671c09341b516cdda578b4f5_671c09341b516cdda578b527.css"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-10-23-0716/global-assets-f8818e7aba30f19905fde485053af317a666a1e6.js" defer></script> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-10-23-0716/add_ons_asset_671c09341b516cdda578b4f5_671c09341b516cdda578b527.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-250c1053-5a83-4c1a-ad0c-a11974ed1917"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e-root"> <div class="shg-image-margin-container-s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e" id="wrap-s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e"> <div class="s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e shg-align-container"> <div class="shg-c s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e shogun-image-container shg-align-center" style="opacity: 1;" id="s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e"> <div class="shg-image-content-wrapper"> <img srcset="https://i.shgcdn.com/3da8279a-65e0-4144-bb5d-a8a53b485fc9/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/3da8279a-65e0-4144-bb5d-a8a53b485fc9/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/3da8279a-65e0-4144-bb5d-a8a53b485fc9/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w,https://i.shgcdn.com/3da8279a-65e0-4144-bb5d-a8a53b485fc9/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/900x/ 900w" sizes="100vw" src="https://i.shgcdn.com/3da8279a-65e0-4144-bb5d-a8a53b485fc9/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e" }
    }
  </script> </div> </div> </div> </div>
{% schema %}
  {
    "name": "Anna's Picks - Look 7",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=671c0917e05872a654af8f6f&shop=shop.misha-and-puff.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Anna's Picks - Look 7",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
