<div class="shogun-root" data-shogun-id="671c0839db35e5615daf3390" data-shogun-site-id="d107544a-edbc-44c4-97ed-eb9330e4474f" data-shogun-section-id="671c0839db35e5615daf3390" data-shogun-section-version-id="671c08524da7439a60b79351" data-shogun-platform-type="shopify" data-shogun-variant-id="671c08524da7439a60b79383" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-10-16-0839/671c08524da7439a60b79351_671c08524da7439a60b79383.css"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-10-23-0716/global-assets-f8818e7aba30f19905fde485053af317a666a1e6.js" defer></script> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-10-23-0716/add_ons_asset_671c08524da7439a60b79351_671c08524da7439a60b79383.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-250c1053-5a83-4c1a-ad0c-a11974ed1917"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e-root"> <div class="shg-image-margin-container-s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e" id="wrap-s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e"> <div class="s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e shg-align-container"> <div class="shg-c s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e shogun-image-container shg-align-center" style="opacity: 1;" id="s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e"> <div class="shg-image-content-wrapper"> <img srcset="https://i.shgcdn.com/4c95aa24-8e78-4b7e-9abb-5a2a99cdf4b5/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/4c95aa24-8e78-4b7e-9abb-5a2a99cdf4b5/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/4c95aa24-8e78-4b7e-9abb-5a2a99cdf4b5/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w,https://i.shgcdn.com/4c95aa24-8e78-4b7e-9abb-5a2a99cdf4b5/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/900x/ 900w" sizes="100vw" src="https://i.shgcdn.com/4c95aa24-8e78-4b7e-9abb-5a2a99cdf4b5/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-452d1bf9-0fb9-4ff9-a0ec-78e8016de97e" }
    }
  </script> </div> </div> </div> </div>
{% schema %}
  {
    "name": "Anna's Picks - Look 6",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=671c0839db35e5615daf3390&shop=shop.misha-and-puff.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Anna's Picks - Look 6",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
