<div class="shogun-root" data-shogun-id="671bca78cd064f1e7fc4dd01" data-shogun-site-id="d107544a-edbc-44c4-97ed-eb9330e4474f" data-shogun-section-id="671bca78cd064f1e7fc4dd01" data-shogun-section-version-id="671bef2d1b516cdda5730a13" data-shogun-platform-type="shopify" data-shogun-variant-id="671bef2d1b516cdda5730a63" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-10-16-0839/671bef2d1b516cdda5730a13_671bef2d1b516cdda5730a63.css"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-10-23-0716/global-assets-f8818e7aba30f19905fde485053af317a666a1e6.js" defer></script> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-10-23-0716/add_ons_asset_671bef2d1b516cdda5730a13_671bef2d1b516cdda5730a63.js" defer></script> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-1561ccd9-c732-4a55-b16f-6a5a235e67d0"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked " id="s-d4d3e187-cdea-4579-a547-b20379b05a2a"data-shg-href=""> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-e255db80-85ca-4470-b950-9b126f6be359-root"> <div class="shg-image-margin-container-s-e255db80-85ca-4470-b950-9b126f6be359" id="wrap-s-e255db80-85ca-4470-b950-9b126f6be359"> <div class="s-e255db80-85ca-4470-b950-9b126f6be359 shg-align-container"> <div class="shg-c s-e255db80-85ca-4470-b950-9b126f6be359 shogun-image-container shg-align-center" style="opacity: 1;" id="s-e255db80-85ca-4470-b950-9b126f6be359"> <div class="shg-image-content-wrapper"> <img srcset="https://i.shgcdn.com/01b19739-e28b-4c8b-8ae7-c849b06f39cb/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/01b19739-e28b-4c8b-8ae7-c849b06f39cb/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/01b19739-e28b-4c8b-8ae7-c849b06f39cb/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w,https://i.shgcdn.com/01b19739-e28b-4c8b-8ae7-c849b06f39cb/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/900x/ 900w" sizes="100vw" src="https://i.shgcdn.com/01b19739-e28b-4c8b-8ae7-c849b06f39cb/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-e255db80-85ca-4470-b950-9b126f6be359" }
    }
  </script> </div> </div> </div></div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-d4d3e187-cdea-4579-a547-b20379b05a2a",
          "url": "",
          "new_window": false
        }
      }
    </script> </div> </div> </div></div> </div>
{% schema %}
  {
    "name": "Anna's Picks Leader",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=671bca78cd064f1e7fc4dd01&shop=shop.misha-and-puff.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Anna's Picks Leader",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
